body {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-kerning: normal;
  color: #1f1f26;
  text-rendering: optimizeLegibility;
}
